body
{
    background-image: url(../images/officeBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.start-paragraph 
{
 text-align: center;   
}

.game-center
{
    text-align: center;
    font-family: Impact, "Haettenschweiler", 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
    background-color: #17459d;
    float: left;
    margin-right: 50%;
    margin-top: 5%;

}

.answer-buttons
{
    background-color: darkgrey;
    margin: 5px;
}

@font-face
{
    font-family: typewriterFont;
    src: url(TravelingTypewriter.ttf);
}

.question
{
    font-family: typewriterFont;
    font-size: 2em;
    margin-bottom: 20px;
}

.answer-list
{
    font-family: typewriterFont;
    font-size: 2em;
}
#time-remaining
{
    color: lightgreen;
    margin-bottom: 10px;
    font-size: 30px;
}

#current-question, #game-alert, #number-answers-correct, #number-answers-incorrect, #unanswered, #corrected-answer, #end-of-game
{
    color: aliceblue;
    margin: 15px;
    font-size: 20px;
}

